<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IHelloWorld" />
      </basicHttpBinding>
    </bindings>
    <services>
      <service name="_1105오후수업.Example"
               behaviorConfiguration ="ExampleService">
        <host>
          <baseAddresses>
            <add baseAddress="http://192.168.0.34:8888/wcf/example/helloworldservice"/>
            <!--endpoint와 갯수가 같게한다.-->
          </baseAddresses>
        </host>
        <endpoint contract="_1105오후수업.IExample"
                  address=""
                  binding="basicHttpBinding"
                  />

      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ExampleService">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>