<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name ="BasicHttpBinding_IHelloWorld"/>
      </basicHttpBinding>
    </bindings>

    <services>
      <service name="_1104저녁실습PictureService.PictureService"
               behaviorConfiguration="ExampleService"
               >
        <!--namespace . class-->
        <host>
          <baseAddresses>
            <add baseAddress="http://192.168.0.34:8888/PictureService"/>
            <!--endpoint와 갯수가 같게한다.-->
          </baseAddresses>
        </host>
        <endpoint contract="_1104저녁실습PictureService.IPictureService"
                  address=""
                  binding="basicHttpBinding"
                  />

      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ExampleService">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>