<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MenuAnimation.Properties.Settings.DESKTOP_L0CJR7G_SQLEXPRESSConnectionString"
            connectionString="Data Source=DESKTOP-L0CJR7G\SQLEXPRESS;Initial Catalog=DESKTOP-L0CJR7G\SQLEXPRESS;User ID=ysb2;Password=1234"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>